<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <% include nav %>

    <form method="post">
        用户名：<input type="text" id="userName" name="un">
        密码：<input type="password" id="userpwd" name=pwd>
        <input type="submit" value="提交">
    </form>
</body>
</html>